{% load staticfiles %}
<!DOCTYPE html>
<html>
    <body>

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a target="_blank" href="https://www2.deloitte.com/uk/en.html" class="logo" style="height: 90px;">
                        <img src="{% static "assets/images/brand/ddot.png" %}" class="icon-c-logo" style="max-height:90px;"></img>
                        <span>
                            <img src="{% static "assets/images/brand/logo.png" %}"></img>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

    </body>
</html>
